@media (max-width: 768px) {
  body {
    height: 3706px;
    /* height: 6000px; */
    background-color: #11151a;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .header-conteiner {
    display: none;
  }
  .header::after {
    content: url("./img/MenuBurgerIcon.png");
    margin: 5px;
    /* width: 17px; */
    /* height: 16px; */
  }

  .container-first-section {
    background-image: url("./img/BG Stars3.png");
    width: 100%;
    height: 384px;
    font-family: var(--font-family-base);
    /* height: 128px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    /* justify-content: center; */
    /* flex-direction: column; */
    /* align-items: start; */
  }

  .header {
    display: flex;
    flex-direction: row;
    color: var(--color-light);
    justify-content: space-between;
    align-items: center;
    height: max(56px, 1.5vh);
    width: 90vw;
    /* width: 1140px; */
    /* border: #ffffff 3px solid; */
  }

  .header-title {
    font-size: 17px;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: 0.3px;
  }

  .header-img-logo {
    width: 36px;
    height: 21px;
  }

  .header-logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
    /* width: calc(11px + 48px + 116px); */
    /* border: #ffffff 3px solid; */
    flex-shrink: 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: var(--color-light);
    /* row-gap: 135px; */
    width: max(288px, 61vw);
    height: 288px;
  }

  .hero-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    width: max(288px, 61vw);
    /* height: 160px; */
    /* padding: 0 5vw 0 5vw; */
    text-align: center;
  }

  .hero-content-text {
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    opacity: 80%;
    width: 288px;
    height: 72px;
    text-align: center;
    margin: 16px 0 32px 0;
  }

  .hero-button {
    width: 162px;
    height: 48px;

    border-radius: 12px;
    background: linear-gradient(#ffd600, #ffb800);
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    padding: 8px 27px;
  }

  .imp-word {
    z-index: 1;
    position: relative;
    /* border: #ffffff 1px solid; */
  }

  .nonstandard-underline {
    content: url("./img/Underline_1.png");
    position: absolute;
    right: -18px;
    bottom: 1px;
    width: 101px;
    height: 15px;
    z-index: -1;
  }

  .creators-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .creators-block {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 1188px;
    margin-top: 80px;
  }

  .header-creators {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    /* margin-top: 83px; */
    /* margin-bottom: 113px; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
  }

  .nonstandard-underline-2 {
    content: url("./img/Underline_2.png");
    position: absolute;
    z-index: -1;
    right: auto;
    bottom: 0px;
    width: 148px;
    height: 16px;
  }

  .creators-superpowers-block {
    display: flex;
    row-gap: 24px;
    flex-direction: column;
  }

  .creators-title {
    margin: 0px 0 4px 0;
    color: #ffd600;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }

  .creators-discription {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
  }

  .infrastructure-block-container {
    height: 768px;
    width: calc(90vw - 2px);
    border: 1px solid #ffb800;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: start;
    /* padding-top: 69px; */
    /* padding-bottom: 79; */
    margin-top: 80px;
  }

  .infrastructure-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    /* height: 1006px;
    width: 55.4vw; */
    height: 728px;
    width: 81.25vw;
    margin: 16px 14px 24px 14px;
    row-gap: 32px;
  }

  .infrastructure-block-containers-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    width: 81.25vw;
    height: 132px;
    /* margin-bottom: 80px; */
  }

  .infrastructure-block-containers-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    width: 81.25vw;
    height: 280px;
    /* margin-bottom: 80px; */
  }

  .infrastructure-block-containers-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    width: 81.25vw;
    height: 252px;
    /* margin-bottom: 80px; */
  }

  .infrastructure-titles {
    color: #ffd600;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
  }

  .infrastructure-titles::before {
    content: url("./icons/Icon_wing.png");
    width: 16px;
    height: 13.3px;
    margin-right: 5.3px;
  }

  .apps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 8px;
    row-gap: 8px;
  }

  .apps-blocks {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    /* width: min(149px, 7.8vw); */
    /* width: 600px; */
    height: 24px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255, 10%);
    /* opacity: 10%; */
    /* color: #fff; */
    display: flex;
    align-items: center;
    /* column-gap: 16px; */
    /* padding-right: 12px; */
    justify-content: start;
  }

  .apps-circle-block {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 8px; */
  }

  .apps-circle-block-1 {
    /* background-color: #ffe501;
    opacity: 15%; */
    background-color: rgb(255, 259, 1, 15%);
  }
  .apps-circle-block-2 {
    /* background-color: #21a6fa;
    opacity: 15%; */
    background-color: rgb(33, 166, 250, 15%);
  }
  .apps-circle-block-3 {
    /* background-color: #d04bff;
    opacity: 15%; */
    background-color: rgb(208, 75, 255, 15%);
  }
  .apps-circle-block-4 {
    /* background-color: #01ffb3;
    opacity: 15%; */
    background-color: rgb(1, 255, 179, 15%);
  }
  .apps-circle-block-5 {
    /* background-color: #ff49b6;
    opacity: 15%; */
    background-color: rgb(255, 73, 182, 15%);
  }
  .apps-circle-block-6 {
    /* background-color: #86f045;
    opacity: 15%; */
    background-color: rgb(134, 240, 69, 15%);
  }
  .apps-circle-block-7 {
    /* background-color: #ff792e;
    opacity: 15%; */
    background-color: rgb(255, 121, 46, 15%);
  }

  .apps-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /* opacity: 100%; */
  }
  .apps-circle-1 {
    background-color: #ffe501;
  }
  .apps-circle-2 {
    background-color: #21a6fa;
  }
  .apps-circle-3 {
    background-color: #d04bff;
  }
  .apps-circle-4 {
    background-color: #01ffb3;
  }
  .apps-circle-5 {
    background-color: #ff49b6;
  }
  .apps-circle-6 {
    background-color: #86f045;
  }
  .apps-circle-7 {
    background-color: #ff792e;
  }

  .OS-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .OS-features {
    height: 100px;
    width: 80vw;
    background-color: rgb(255, 255, 255, 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 12px;
    border-radius: 16px;
    row-gap: 4px;
  }

  .OS-features-decoration-dots {
    display: none;
  }

  .OS-features-title {
    color: #ffd600;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }

  .OS-features-description {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
  }

  .blockchains-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 12px;
    justify-content: center;
    width: 80vw;
  }

  .blockchains-blocks {
    height: 44px;
    width: 122px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 10%);
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 8px;
    padding-left: 8px;
    /* align-items: center; */
    /* border: 10px solid #000000; */
  }

  .blockchains-blocks-img {
    height: 28px;
    width: 28px;
    border-radius: 50%;
  }
  .blockchains-blocks-img-1 {
    background: url("./icons/Icon_ethereum.png");
  }
  .blockchains-blocks-img-2 {
    background: url("./icons/Icon_binance.png");
  }
  .blockchains-blocks-img-3 {
    background: url("./icons/Icon_solana.png");
  }
  .blockchains-blocks-img-4 {
    background: url("./icons/Icon_avalanche.png");
  }
  .blockchains-blocks-img-5 {
    background: url("./icons/Icon_terra.png");
  }
  .blockchains-blocks-img-6 {
    background: url("./icons/Icon_near.png");
  }
  .blockchains-blocks-img-7 {
    background: url("./icons/Icon_polygon.png");
  }
  .blockchains-blocks-img-8 {
    background: url("./icons/Icon_more.png");
  }

  .text-more::before {
    content: "+";
    /* width: 11px; */
    /* height: 11px; */
    /* color: #01ffb3; */
    margin-right: 4px;
  }

  .roadmap-container {
    display: flex;
    flex-direction: column;
    height: 404px;
    width: 90vw;
    background: linear-gradient(-23deg, #3103b5, #a96bf7);
    border-radius: 24px;
    /* color: #000000; */
    padding: 16px 0 16px 16px;
    color: var(--color-light);
    margin: 80px 0;
  }

  .roadmap-container-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
  }

  .roadmap-container-paragraph {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    margin: 8px 0 20px 0;
  }

  .paragraph-list {
    margin-bottom: 28px;
  }
  .paragraph-list-item {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    display: flex;
    /* align-items: center; */
  }

  .paragraph-list-icon {
    width: 16px;
    height: 13.3px;
    margin-right: 8px;
  }

  .roadmap-container-btn-join {
    height: 48px;
    width: 80vw;
    background: linear-gradient(#ffd600, #ffb800);
    border-radius: 12px;
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    /* color: #10151a; */
    border: 0px solid #000000;
  }

  .roadmap-container-btn-more {
    height: 48px;
    width: 80vw;
    background: rgb(255, 255, 255, 15%);
    border-radius: 12px;
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    color: #ffffff;
    /* opacity: 15%; */
    border: 0px solid #000000;
  }

  .roadmap-container-block-btns {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .learn-more-container {
    display: flex;
    height: 856px;
    width: 90vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 28px;
    /* align-items: center; */
    /* flex-wrap: wrap; */
  }

  .learn-more-title {
    height: 32px;
    width: min(52.5vw, 168px);
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    color: var(--color-light);
  }

  .nonstandard-underline-3 {
    content: url("./img/Underline_3.png");
    position: absolute;
    z-index: -1;
    right: -12px;
    bottom: 0px;
    width: 192.7px;
    height: 14px;
  }

  .learn-more-sections-container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  .learn-more-sections {
    background-color: #1b2a40;
    width: min(90vw, 288px);
    height: 244px;
    border-radius: 12px 12px;
  }

  .learn-more-sections-imgs {
    width: 288px;
    height: 120px;
    border-radius: 12px 12px 0 0;
  }

  .learn-more-sections-titles {
    color: #ffd600;
    font-size: 15px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: 0.4px;
    margin: 16px 0 4px 20px;
    width: 141px;
    height: 32px;
  }

  .learn-more-sections-descriptions {
    width: 248px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: var(--color-light);
    margin-left: 20px;
  }

  .backed-by-container {
    display: flex;
    height: 354px;
    width: min(288px, 90vw);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    margin: 80px 0 80px 0;
  }

  .backed-by-title {
    height: 32px;
    width: min(47.5vw, 152px);
    display: flex;
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    color: var(--color-light);
  }

  .nonstandard-underline-4 {
    content: url("./img/Underline_4.png");
    position: absolute;
    z-index: -1;
    right: -25.6px;
    bottom: 0px;
    width: 186px;
    height: 16px;
  }

  .backed-by-blocks {
    display: flex;
    /* column-gap: 64px; */
    justify-content: center;
    width: min(288px, 90vw);
    margin: 32px 0 28px 0;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 16px;
  }

  .logo-fund-1 {
    width: 101px;
    height: 50.8px;
  }
  .logo-fund-2 {
    width: 165px;
    height: 48px;
  }
  .logo-fund-3 {
    width: 129px;
    height: 46px;
  }
  .logo-fund-4 {
    width: 80px;
    height: 46px;
  }
  .logo-fund-5 {
    width: 97px;
    height: 46px;
  }

  .backed-by-people {
    display: flex;
    justify-content: space-between;
    height: 92px;
    width: min(298px, 90vw);
    color: var(--color-light);
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 12px;
    row-gap: 12px;
  }

  .backed-by-people-name-block {
    color: var(--color-light);
    border: 2px solid rgb(255, 255, 255, 15%);
    border-radius: 12px;
    height: 40px;
    /* width: min(167px, 8.7vw); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
  }

  .backed-by-people-name-block-1 {
    width: 133px;
    height: 40px;
  }
  .backed-by-people-name-block-2 {
    width: 141px;
    height: 40px;
  }
  .backed-by-people-name-block-3 {
    width: 168px;
    height: 40px;
  }

  .background-footer-container {
    background: linear-gradient(#ffd600, #ffc700);
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-container {
    display: flex;
    height: 120px;
    width: min(90vw, 288px);

    justify-content: center;
    /* align-items: center; */
    align-content: center;
    flex-wrap: wrap;
    column-gap: 56px;
    row-gap: -50px;
    /* align-items: baseline; */
  }

  .footer-logo {
    width: 127px;
    order: 1;
    height: 24px;
  }

  .footer-img-logo-title {
    font-size: 16.9px;
    line-height: 33.8px;
    font-weight: bold;
    letter-spacing: 0.31px;
    margin-left: 8px;
    color: #000000;
    height: 24px;
  }

  .footer-img-logo {
    height: 21px;
    width: 36px;
  }

  .footer-nav {
    order: 3;
    width: 241px;
    height: 24px;
  }

  .footer-menu-list {
    height: 24px;
    width: min(75.3vw, 241px);
    display: flex;
    justify-content: space-between;
  }

  .footer-menu-item-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    height: 24px;
  }
  .footer-menu-item {
    display: flex;
    align-items: center;
  }

  .footer-sotials {
    display: flex;
    justify-content: space-between;
    width: 32.5vw;
    order: 2;
    height: 24px;
  }

  .footer-sotials-items {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-img-sotials-twitter {
    width: 21px;
    height: 17px;
  }

  .footer-sotials-telegram {
    width: 20px;
    height: 17px;
  }

  .footer-sotials-email {
    width: 18px;
    height: 18px;
  }
}
